/* This file is part of Zaaksysteem, which is released under the EUPL.
 See file LICENSE for full license details.
*/

.svg {
  display: inline-flex;
  vertical-align: bottom;
}

.svg svg {
  width: 100%;
  height: 100%;
  pointer-events: none;
  fill: currentColor;
}

.responsive {
  position: relative;
  height: 0;
}

.responsive svg {
  position: absolute;
  top: 0;
  left: 0;
}
